/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding-top: 1.5rem;
  background: #343a40;
}

.container {
  margin-top: 1.5rem;
}

h1 {
  color: #fff;
  // text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  margin-left: -10px;
  width: 100%;
  text-align: center;
}

.navbar-brand svg {
  width: 70px !important;
}

.text-green {
  color: rgb(8, 224, 73);

  &.glow,
  & > .glow {
    text-shadow: 0 0 5px rgba(8, 224, 73, 0.5);
  }
}

.btn {
  border-color: rgb(8, 224, 73) !important;
  color: rgb(8, 224, 73) !important;
  background: #343a40 !important;
  &:hover {
    background: rgb(8, 224, 73) !important;
    color: #343a40 !important;
  }

  &.btn-primary {
    color: #343a40 !important;
    background: rgb(8, 224, 73) !important;
    &:hover {
      box-shadow: 0 0 5px rgba(8, 224, 73, 0.75);
    }
  }

  &.btn-danger {
    border-color: rgb(224, 14, 88) !important;
    color: rgb(224, 14, 88) !important;
    background: #343a40 !important;
    &:hover {
      background: rgb(224, 14, 88) !important;
      color: #343a40 !important;
    }
  }
}



a {
  outline: none !important;
}

/*
 * Loading screen
 */


.modal-content {
  background-color: #343a40 !important;
  color: #fff !important;
}

.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
