/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding-top: 1.5rem;
}

h1 {
  color: #fff;
  // text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  margin-left: -10px;
  width: 100%;
  text-align: center;
}


.navbar-brand svg {
  width: 70px !important;
}


.text-green {
    color: rgb(8, 224, 73);

    &.glow,
    & > .glow {
        text-shadow: 0 0 5px rgba(8, 224, 73, 0.5);
    }
}

.btn {
  border-color: rgb(8, 224, 73) !important;
  color: rgb(8, 224, 73) !important;
  &:hover {
      background: rgb(8, 224, 73) !important;
      color: #343a40 !important;
  }
}

a {
  outline : none !important;
}



/*
 * Loading screen
 */
.splash-loading {
    min-height: 100%;
    min-height: 100vh;
    
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    align-items: center;

    // -ms-flex-pack: center;
    // -webkit-box-pack: center;
    // justify-content: center;
    // max-width: 42em;
    text-align: center;
    color: rgb(8, 224, 73);
    text-shadow: 0 0 5px rgba(8, 224, 73, 0.5);

    & > .container {
      margin-top: 5%;
    }
}


.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: 25px 0 0 -25px;
    width: 50px;
    height: 50px;
    
    & .path {
      -webkit-filter: drop-shadow(0 0 5px rgba(8, 224, 73, .5));
      filter: drop-shadow(0 0 5px rgba(8, 224, 73, .5));
      stroke: rgb(8, 224, 73);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }