<div class="container details green">
  <div class="details-header">
    <h1>
      Test-App
      <logo color="green" size="100"></logo>
    </h1>
  </div>

  <section>
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-lg btn-outline-secondary">
        <fa name="stop" class="fa"></fa>
        Stop
      </button>
      <button type="button" class="btn btn-lg btn-outline-secondary">
        <fa name="trash" class="fa"></fa>
        Remove
      </button>
    </div>
  </section>
  
  <section>
    <h2>
      <fa name="database" class="fa"></fa>
      Stats
    </h2>
    <table class="table">
        <tr>
          <td>State:</td>
          <td>Running</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>Running</td>
        </tr>
        <tr>
          <td>State:</td>
          <td>Running</td>
        </tr>
    </table>
  </section>
</div>