<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/page1">Page 1 <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav> -->

<header>
  <div class="bg-dark collapse" id="navbarHeader" [ngbCollapse]="isCollapsed">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4 text-green navmenu">
            <ul class="list-unstyled ">
              <li>
                <a routerLink="/overview" class="text-white">
                  <fa name="th" class="fa"></fa>
                  Overview
                </a>
              </li>
              <li>
                <a routerLink="/store" class="text-green glow">
                  <fa name="shopping-cart" class="fa"></fa>
                  App Store
                </a>
              </li>
            </ul>
        </div>
        <!-- <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div> -->
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <div class="navbar-brand d-flex align-items-center">
        <fa name="th" class="fa fa-3x"></fa>
        <h1>Overview</h1>
      </div>
      <button class="navbar-toggler collapsed" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <fa name="bars" class="fa fa-2x"></fa>
      </button>
    </div>
  </div>
</header>

<main role="main">

  <router-outlet></router-outlet>

</main>